<nav>
    <% if (menus['Main Menu']) { %>
        <ul>
            <% menus['Main Menu'].forEach(function(item) { %>
                <li><a href="<%= item.url %>" target="<%= item.target %>"><%= item.name %></a></li>
            <% }); %>
        </ul>
    <% } %>
</nav>