.table {

	&.table_edit {

		tr {
			td:last-child {
				text-align: right;
			}
		}

		.save_item_edit,
		.cancel_item_edit {
			display: none;
		}
	}

	img {
		width: 31px;
		height: 31px;
		object-fit: cover;
	}

	.file_crud {
		height: 36px;
		width: 36px;

		.container svg {
			width: 24px;
			height: 24px;
		}

		.icons {
			position: absolute;
			left: 36px;

			ul {
				position: relative !important;
				margin: 0;

				li {
					padding: 0;
					display: block;

					button {
						width: 32px;
						height: 32px;

						svg {
							width: 16px;
							height: 16px;
						}
					}
				}
			}
		}
	}

	tr {
		td {
			.btn {
				visibility: hidden;
			}
		}

		&:hover,
		&.table-active {
			td {
				.btn {
					visibility: visible;
				}
			}
		}
	}

	.unpublished {

		img {
			opacity: .1;
		}

		.form-check-input {
			opacity: .4;
		}

		td,
		a {
			--bs-text-opacity: .3;
			color: rgba(var(--bs-secondary-rgb), var(--bs-text-opacity)) !important;
		}
	}
}

.fs_smaller {
	font-size: 9px;
}