node_modules/
logs/
scripts/sitemap-checked.json
_backup/
.vars
.DS_Store
ecosystem.config.js

plugins/*

custom/*
!custom/birka/
!custom/birka/**/*
!custom/my-storefront/
!custom/my-storefront/**/*

public/*
!public/img/
!public/img/**/*