node_modules/
logs/
scripts/sitemap-checked.json
_backup/
.vars
.DS_Store

custom/*
!custom/my-storefront/
!custom/my-storefront/**/*

public/*
!public/my-storefront/
!public/my-storefront/**/*
!public/birka/
!public/birka/**/*
!public/img/
!public/img/**/*