node_modules/
custom/*
!custom/my-storefront/
!custom/my-storefront/**/*
public/files/
public/dev/
public/cms-assets/
public/robots.txt
public/*.xml
logs/
scripts/sitemap-checked.json
_backup/
.vars
.DS_Store