<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <% if (env === 'production') { %>
            <link rel="preload" href="/438818947cdb992bd22c.woff2" as="font" type="font/woff2">
            <link rel="preload" href="/css/style.min.css" as="style">
            <link href="/css/style.min.css" rel="stylesheet">
        <% } else { %>
            <script src="/dev/style.js"></script>
        <% } %>
    </head>
    <body>
        <h1><%= title %></h1>
        <p>Welcome to <%= title %></p>

        <p><a href="/cms">CMS</a></p>
        
        <% if (env === 'production') { %>
            <script src="/js/main.min.js"></script>
        <% } else { %>
            <script src="/js/main.js"></script>
        <% } %>
    </body>
</html>