<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="preload" href="/css/style.css" as="style">
        <link rel="preload" href="/fonts/RobotoFlex.woff2" as="font" type="font/woff2">
        <link rel='stylesheet' href='/css/style.css' />
    </head>
    <body>
        <h1><%= title %></h1>
        <p>Welcome to <%= title %></p>

        <p><a href="/cms">CMS</a></p>

        <!-- <svg>
            <use xlink:href="#calendar"></use>
        </svg> -->

        <!-- <%- include('partials/svg-sprite') %> -->
        
        <script src="/js/main.js"></script>
    </body>
</html>