<form action="#" novalidate class="needs-validation">
    <div class="row g-4">
        <div class="col-12 col-lg-4 col-xl-4">
            <div class="card">
                <div class="card-header fs-6">
                    Working Hours
                </div>
                <div class="card-body">
                    <div class="row align-items-center gx-2 py-1">
                        <div class="col-2">
                            <label class="form-label mb-0">Mon:</label>
                        </div>
                        <div class="col minw_0">
                            <input type="time" class="form-control form-control-sm"
                                required="" placeholder="">
                        </div>
                        <div class="col-auto">-</div>
                        <div class="col minw_0">
                            <input type="time" class="form-control form-control-sm"
                                required="" placeholder="">
                        </div>
                    </div>
                    <div class="row align-items-center gx-2 py-1">
                        <div class="col-2">
                            <label class="form-label mb-0">Tue:</label>
                        </div>
                        <div class="col minw_0">
                            <input type="time" class="form-control form-control-sm"
                                required="" placeholder="">
                        </div>
                        <div class="col-auto">-</div>
                        <div class="col minw_0">
                            <input type="time" class="form-control form-control-sm"
                                required="" placeholder="">
                        </div>
                    </div>
                    <div class="row align-items-center gx-2 py-1">
                        <div class="col-2">
                            <label class="form-label mb-0">Wed:</label>
                        </div>
                        <div class="col minw_0">
                            <input type="time" class="form-control form-control-sm"
                                required="" placeholder="">
                        </div>
                        <div class="col-auto">-</div>
                        <div class="col minw_0">
                            <input type="time" class="form-control form-control-sm"
                                required="" placeholder="">
                        </div>
                    </div>
                    <div class="row align-items-center gx-2 py-1">
                        <div class="col-2">
                            <label class="form-label mb-0">Thu:</label>
                        </div>
                        <div class="col minw_0">
                            <input type="time" class="form-control form-control-sm"
                                required="" placeholder="">
                        </div>
                        <div class="col-auto">-</div>
                        <div class="col minw_0">
                            <input type="time" class="form-control form-control-sm"
                                required="" placeholder="">
                        </div>
                    </div>
                    <div class="row align-items-center gx-2 py-1">
                        <div class="col-2">
                            <label class="form-label mb-0">Fri:</label>
                        </div>
                        <div class="col minw_0">
                            <input type="time" class="form-control form-control-sm"
                                required="" placeholder="">
                        </div>
                        <div class="col-auto">-</div>
                        <div class="col minw_0">
                            <input type="time" class="form-control form-control-sm"
                                required="" placeholder="">
                        </div>
                    </div>
                    <div class="row align-items-center gx-2 py-1">
                        <div class="col-2">
                            <label class="form-label mb-0">Sat:</label>
                        </div>
                        <div class="col minw_0">
                            <input type="time" class="form-control form-control-sm"
                                required="" placeholder="">
                        </div>
                        <div class="col-auto">-</div>
                        <div class="col minw_0">
                            <input type="time" class="form-control form-control-sm"
                                required="" placeholder="">
                        </div>
                    </div>
                    <div class="row align-items-center gx-2 py-1">
                        <div class="col-2">
                            <label class="form-label mb-0">Sun:</label>
                        </div>
                        <div class="col minw_0">
                            <input type="time" class="form-control form-control-sm"
                                required="" placeholder="">
                        </div>
                        <div class="col-auto">-</div>
                        <div class="col minw_0">
                            <input type="time" class="form-control form-control-sm"
                                required="" placeholder="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4 col-xl-4">
            <div class="card">
                <div class="card-header fs-6">
                    Holidays
                </div>
                <div class="card-body">
                    <div class="row gx-2">
                        <div class="col">
                            <input type="number" min="1" max="31" step="1"
                                class="form-control" id="attDvalue" required=""
                                placeholder="DD">
                            <div class="invalid-feedback">
                                Please provide a valid Day.
                            </div>
                        </div>
                        <div class="col">
                            <input type="number" min="1" max="12" step="1"
                                class="form-control" id="attMvalue" required=""
                                placeholder="MM">
                            <div class="invalid-feedback">
                                Please provide a valid Month.
                            </div>
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-primary">Add</button>
                        </div>
                    </div>
                    <ul class="list-group mt-3">
                        <li
                            class="list-group-item d-flex justify-content-between align-items-center">
                            <span class="pe-2">1 Jan</span>
                            <span
                                class="badge bg-primary rounded-pill ms-auto">remove</span>
                        </li>
                        <li
                            class="list-group-item d-flex justify-content-between align-items-center">
                            <span class="pe-2">12 Jan</span>
                            <span
                                class="badge bg-primary rounded-pill ms-auto">remove</span>
                        </li>
                        <li
                            class="list-group-item d-flex justify-content-between align-items-center">
                            <span class="pe-2">4 Jul</span>
                            <span
                                class="badge bg-primary rounded-pill ms-auto">remove</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4 col-xl-4">
            <div class="card">
                <div class="card-header fs-6">
                    Delivery
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <label for="delivery" class="form-label">Fastest
                            Delivery(days)</label>
                        <input type="number" class="form-control" id="delivery" required=""
                            placeholder="">
                        <div class="invalid-feedback">
                            Please provide a valid Delivery.
                        </div>
                    </div>
                    <div class="mb-3 w-50">
                        <label for="tm" class="form-label">Order Before:</label>
                        <input type="time" class="form-control" id="tm" required=""
                            placeholder="" min="09:00" max="18:00">
                        <div class="invalid-feedback">
                            Please provide a valid Order Before.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <label for="country" class="form-label">Country</label>
            <select class="form-select" id="country">
                <option selected value=""></option>
                <%- countries.data.map(country => `<option value="${country.code}">${country.name}</option>`).join('') %>
            </select>
            <div class="invalid-feedback">
                Please select Language.
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <label for="currency" class="form-label">Currency</label>
            <select class="form-select" id="currency">
                <option selected value=""></option>(
                <%- currencies.map(currency => `<option value="${currency.code}">${currency.name} (${currency.code}, ${currency.symbol})</option>`).join('') %>
            </select>
            <div class="invalid-feedback">
                Please select Language.
            </div>
        </div>
        <div class="col-12">
            <button class="btn btn-primary">Update</button>
        </div>
    </div>
</form>