<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>
    <meta name="robots" content="noindex, nofollow">

    <style>
        body {
            margin: 0;
            font-family: sans-serif;
        }

        body * {
            box-sizing: border-box;
        }

        main {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background: linear-gradient(155deg, #061f2c 0%, #374241 100%);
        }

        #logo {
            display: block;
            margin: 0 auto 20px;
            border-radius: 50%;
            width: 64px;
            height: 64px;
        }

        form {
            width: 280px;
        }

        input {
            font-size: 16px;
            padding: 12px;
            border-radius: 6px;
            border: thin solid #ccc;
            width: 100%;
        }

        form input[name="username"] {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        form input[name="password"] {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

        .field:has(input[type="checkbox"]) {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-top: 10px;
            transform: translateX(-4px);
            justify-content: center;
        }

        .field:has(input[type="checkbox"]) label {
            line-height: 32px;
            cursor: pointer;
            color: #d6ac5e;
        }

        input[type="checkbox"] {
            margin: 0;
            width: 18px;
            height: 18px;
            border-radius: 0;
            border: thin solid #ccc;
            margin: 10px 0;
            cursor: pointer;
        }

        .btn {
            font-size: 16px;
            padding: 12px;
            border-radius: 6px;
            border: thin solid #4b8bda;
            width: 100%;
            margin-top: 10px;
            cursor: pointer;
            background-color: #57a3ff;
            color: #FFF;
        }
        #message {
            margin-top: 10px;
            font-size: 14px;
            padding: 10px 15px;
            background-color: #ffcfda;
            border: thin solid #dbaeb8;
            border-radius: 6px;
            color: #782f3f;
        }
    </style>

    <meta name="template" content="<%= template_name %>">
    <meta name="csrf" content="<%= locals?.csrf_token %>">
</head>

<body class="login-page">
    <main>
        <form name="login">
            <a href="/">
                <img id="logo" src="<%= logo_path %>" alt="" width="64" height="64">
            </a>
            <div class="field">
                <input type="text" placeholder="username or email" name="username">
            </div>
            <div class="field">
                <input type="password" placeholder="password" name="password">
            </div>
            <div class="field">
                <input type="checkbox" id="remember-me" name="remember">
                <label for="remember-me">Remember me</label>
            </div>
            <div id="message" hidden></div>
            <button class="btn" type="submit">Sign in</button>
        </form>
    </main>

    <script>
        const csrfToken = document.querySelector('meta[name="csrf"]').content;
        const form = document.forms.login;
        const btn = form.querySelector('button[type="submit"]');
        const message = document.querySelector('#message');

        btn.addEventListener('click', async (e) => {
            e.preventDefault();
            await send();
        });

        async function send() {
            try {
                const response = await fetch('/api/auth/login', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRF-Token': csrfToken
                    },
                    credentials: 'include',
                    body: JSON.stringify({
                        username: form.username.value,
                        password: form.password.value,
                        remember: form.remember.checked
                    }),
                });
                const data = await response.json();
                if (data.success) {
                    console.error(data);
                    window.location.href = '/cms';
                } else {
                    message.innerText = data.message;
                    message.hidden = false;
                    console.error(data);
                }
            } catch (error) {
                console.error('Error:', error);
            }
        }
    </script>

</body>

</html>