.bibe_editor {
    $paddings: 10px;
    $anchor_width: 34px;
    $base_fs: 14px; // base font size
    $line_height: calc(14px * 1.5); // 1.5em

    padding: $paddings $paddings $paddings calc($anchor_width + 1ch);
    position: relative;

    .content {
        position: relative;
        outline: none;
        font-size: $base_fs;
        line-height: $line_height;

        .bibe_block {
            margin: 0;
            padding: 8px;
            user-select: text;
            -webkit-user-drag: none;
        }

        blockquote {
            padding-left: 2ch;
            border-left: 4px solid #ddd;
        }

        ul.bibe_block, ol.bibe_block {
            padding-left: 1.75em;
        }
    }

    .anchor {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(-50%);
        width: $anchor_width;
        height: 16px;

        .minibtn {
            position: absolute;
            width: 16px;
            height: 100%;
            top: 0;
            background-color: rgba(0, 0, 0, 0.1);

            svg {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 9px;
                height: 9px;
                transform: translate(-50%, -50%);
            }
        }

        .add_block {
            left: 0;
            cursor: pointer;

            svg {
                width: 7px;
                height: 7px;
                transform: translate(-50%, -50%) rotate(45deg);
            }
        }

        .handle {
            left: 18px;
            cursor: grab;
        }
    }

    .menu {
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;

        &.block {
            padding: 10px 10px 30px 10px;
            transform: translateY(-63px);
        }

        &.text {
            padding: 4px 0 0 0;
        }

        .controls {
            display: flex;
            gap: 2px;
            padding: 2px;
            border: thin solid #ddd;
            background-color: white;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            height: auto;

            .bibe_btn {
                width: 32px;
                height: 32px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #EEE;
                border-radius: 3px;
                border: thin solid #DDD;
                cursor: pointer;

                &:hover {
                    background-color: #FFF;
                }

                svg {
                    width: 50%;
                    height: 50%;
                }
            }

            .divider {
                width: 4px;
            }
        }
    }
}