@import "_typography",
        "components/_cookies-consent";

body {
    padding: 20px 40px;
    font: 14px "roboto", sans-serif;
}

a {
    color: red;
}

svg.blue {
    stroke: blue;
}

.social_media ul {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 10px;

    img {
        width: 24px;
        height: 24px;
    }
}