<div class="col-12 col-lg" id="fields_extension">
    <div class="mb-3">
        <input type="text" class="form-control" id="title" name="title" value="<%= page.title %>" placeholder="Page title" required>
    </div>
    <div class="mb-3">
        <label for="welcome_text" class="form-label">Home page welcome text</label>
        <textarea class="form-control" id="welcome_text" name="welcome_text" rows="3"><%= page.welcome_text %></textarea>
    </div>
</div>