<div class="col-12 col-lg" id="fields_extension">
    <div class="mb-3">
        <input type="text" class="form-control" id="contact_form_name" name="contact_form_name" value="<%= page.contact_form_name %>" placeholder="Contact Form Name" required>
    </div>
    <div class="mb-3">
        <input type="text" class="form-control" id="address" name="address" value="<%= page.address %>" placeholder="Address" required>
    </div>
    <div class="mb-3">
        <input type="text" class="form-control" id="phone" name="phone" value="<%= page.phone %>" placeholder="Phone" required>
    </div>
    <div class="mb-3">
        <input type="email" class="form-control" id="email" name="email" value="<%= page.email %>" placeholder="Email" required>
    </div>
</div>