<div class="col-12 col-lg" id="page_custom_fields">
    <div class="mb-3">
        <label for="description" class="form-label">About us description</label>
        <textarea class="form-control" id="description" name="description" rows="3"><%= page.description %></textarea>
    </div>
</div>