.tags_crud {

	.tags_container {
		
		.empty {
			width: 100%;
			text-align: center;
			margin: 0;
		}
	}

	.badge_tag {
		border: 1px solid #C6C6C6;
		background: #eee;
		color: #000;
		font-weight: normal;
		border-radius: 1em;
		display: inline-flex;
		padding: .2em 1.8em .2em 1.6em;

		overflow: hidden;
		position: relative;
		max-width: 150px;
		// font-size: 20px;
		--fz: 12px;
		font-size: var(--fz);

		.btn-close {
			display: flex;
			height: 100%;
			align-items: center;
			background-color: #ccc;
			position: absolute;
			bottom: 0;
			right: 0;
			border-radius: 0;
			background-position: 50% !important;
			padding: 0 .5em;
			font-size: calc(var(--fz)/1.2);
			opacity: 0;
			transition: all 0.3s ease;
		}

		&:hover {
			.btn-close {
				opacity: 1;
			}
		}
	}
}