<%- include('./partials/header') -%>
    <div>
        <h1>Order Confirmation</h1>
        <p>Hi <%= user.name %>,</p>
        <p>Thanks for your order! We'll let you know when it ships.</p>
        <p>Best,<br>
        Your friends at Site</p>
    </div>
<%- include('./partials/footer') -%>