<%- include('./partials/header') -%>
    <div>
        <h1>Welcome to the site!</h1>
        <p>Thanks for signing! We're very excited to have you on board.</p>
        <p>Best,<br>
        Your friends at Site</p>
    </div>
<%- include('./partials/footer') -%>