<div class="option-1">
    <div class="file_crud position-relative static" data-files-api="<%-files_api%>" data-endpoint="<%-endpoint%>" data-file-id="<%-file_id%>" data-size="<%-size%>">
        <div class="container">
            <div class="file_preview">
                <img src="\files\0a\300\05_Four_sections_each_showing_outdoor_clothing.webp" alt="img" class="card-img-top">
            </div>
            <div class="icons">
                <ul
                class="list_meta_icons d-flex justify-content-center position-absolute list-unstyled d-flex bottom-0 start-0 end-0">
                <li class="px-1">
                    <button class="btn circle_btn bg-white rounded-circle">
                        <svg class="icon blue" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13.712 16">
                            <path d="m11.312 2.4 2.4-2.4v6.48h-6.48L9.68 4.032a4.366 4.366 0 0 0-2.816-.992 4.422 4.422 0 0 0-3.1 1.216A4.408 4.408 0 0 0 2.3 7.232H.016A6.575 6.575 0 0 1 2.144 2.64 6.642 6.642 0 0 1 6.864.768 6.7 6.7 0 0 1 11.312 2.4ZM6.864 12.96a4.394 4.394 0 0 0 3.088-1.216 4.421 4.421 0 0 0 1.456-2.976H13.7a6.575 6.575 0 0 1-2.128 4.592 6.623 6.623 0 0 1-4.7 1.872A6.723 6.723 0 0 1 2.4 13.6L0 16V9.52h6.48l-2.448 2.448a4.43 4.43 0 0 0 2.832.992Z"/>
                        </svg>
                    </button>
                </li>
                <li class="px-1">
                    <button class="btn circle_btn bg-white rounded-circle" title="Remove file">
                        <svg class="icon red" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13.714 16">
                            <g fill="#ff0014">
                                <path d="M4.571 5.714h1.143v6.857H4.571Z" />
                                <path d="M8 5.714h1.143v6.857H8Z" />
                                <path d="M0 2.286v1.143h1.143v11.428A1.143 1.143 0 0 0 2.286 16h9.143a1.143 1.143 0 0 0 1.143-1.143V3.429h1.143V2.286Zm2.286 12.571V3.429h9.143v11.428Z" />
                                <path d="M4.571 0h4.571v1.143H4.571Z" />
                            </g>
                        </svg>
                    </button>
                </li>
            </ul>
            </div>
        </div>
    </div>
</div>

