<% if (typeof img_path !=='undefined' && img_path) { %>
    <div class="img_holder position-relative">
        <img src="<%=img_path%>" alt="img" class="card-img-top">
        <ul
            class="list_meta_icons d-flex justify-content-center position-absolute list-unstyled d-flex bottom-0 start-0 end-0">
            <li class="px-1">
                <button class="btn circle_btn bg-white rounded-circle">
                    <%- icon({ name: 'upload' ,class:'icon' }) %>
                </button>
            </li>
            <li class="px-1">
                <button class="btn circle_btn bg-white rounded-circle">
                    <%- icon({ name: 'circle-arrows' ,class:'icon' }) %>
                </button>
            </li>
            <li class="px-1">
                <button class="btn circle_btn bg-white rounded-circle">
                    <%- icon({ name: 'trash' ,class:'icon' }) %>
                </button>
            </li>
        </ul>
    </div>
    <% }else{ %>
        <div class="alert alert-danger">
            no data for img
        </div>
        <% } %>