<div class="card tags_block <%= locals.additionalClass || '' %>"
    data-tags-api="<%= locals.tags_api || '' %>"
    data-endpoint="<%= locals.endpoint || '' %>"
    >
    <div class="card-header fs-6">
        Tags
    </div>
    <div class="card-body">
        <div class="input-group mb-3">
            <input type="text" class="form-control">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2">Add</button>
        </div>
        <div class="d-flex flex-wrap gap-1">
            <% if (array) { %>
                <% for (const tag of array) { %>
                    <span class="badge_tag">
                        <span class="text-truncate">
                            <%= tag.name%>
                        </span>
                        <a href="#" class="btn-close bg-transparent"></a>
                    </span>
                <% } %>
            <% } else { %>
                <p class="text-danger fw-bolder">---No input array---</p>
            <% } %>

        </div>

    </div>
</div>