.selected {
    box-shadow: 0 0 0 4px black, inset 0 0 0 4px #fff;
}

.files {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    place-items: center;

    &>.file {
        width: 100%;
        height: 100%;
        min-width: 200px;
        max-width: 300px;
        aspect-ratio: 1/1;
        position: relative;
        user-select: none;

        &:hover {
            cursor: pointer;
        }

        img {
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: -1;
            object-fit: cover;
        }

        svg {
            width: 20%;
            height: 20%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
        }

    }
}