.selected {
    box-shadow: 0 0 0 4px black, inset 0 0 0 4px #fff;
}

.files {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    place-items: center;

    &>.file {
        width: 100%;
        height: 100%;
        min-width: 200px;
        max-width: 300px;
        aspect-ratio: 1/1;
        position: relative;
        user-select: none;

        .spinner {
            position: absolute;
            top: 50%;
            left: 50%;
        }

        &:hover {
            cursor: pointer;
        }

        img {
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: -1;
            object-fit: cover;
        }

        svg {
            width: 20%;
            height: 20%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
        }

    }
}

.file_details {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000099;
    z-index: 1021;
    padding: 0;

    * {
        box-sizing: border-box;
    }

    .window {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        height: 92%;
        border-radius: 4px;
        overflow: hidden;
        background-color: white;
        display: grid;
        grid-template-columns: 62% 1fr;

        .media {
            background-color: #333;
            position: relative;

            img,
            video {
                max-width: 100%;
                max-height: 100%;
                object-fit: contain;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                position: absolute;
            }
        }

        .info {
            overflow: auto;
            padding: 20px 25px;

            header {
                display: grid;
                grid-template-columns: 1fr auto;
                grid-gap: 10px;
                align-items: center;
                margin-bottom: 15px;

                h5 {
                    margin: 0;
                    word-break: break-all;
                }

                svg {
                    width: 20px;
                    height: 20px;
                }

                .closer {
                    width: 20px;
                    height: 20px;
                    cursor: pointer;
                }
            }

            .meta {
                font-size: 12px;
                margin-bottom: 50px;

                div {
                    display: grid;
                    grid-template-columns: 80px 1fr;
                    grid-gap: 10px;
                    align-items: center;

                    pre {
                        margin: 0;
                        word-break: break-all;
                    }
                }
            }
        }

        @media (max-width: 900px) {

            grid-template-columns: 1fr;
            position: fixed;
            top: 0;
            left: 0;
            transform: translate(0, 0);
            width: 100vw;
            height: 100vh;

            .media {
                height: 40vh;
            }

            .info {
                overflow: auto;

                h5 {
                    font-size: 18px;
                }
            }

        }
    }
}

.file_picker {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1020;
    background-color: #00000099;

    .win {
        display: grid;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        height: 90vh;

        background: white;

        & > div {
            overflow: hidden;
            height: 100%;
            display: grid;
        }

        .files_container {
            overflow-y: auto;

            .files {
                grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

                &>.file {
                    min-width: 100px;
                    max-width: 200px;
                }
            }

        }
    }
}